GITHUB_CONFIG_URL=<Github reference repository or org>
# when using GH App
GITHUB_APP_ID=<Github App Id>
GITHUB_APP_INSTALLATION_ID=<Github App Installation Id>
GITHUB_APP_PRIVATE_KEY=<Github App Private Key>
# when using PAT
GITHUB_PAT_TOKEN=<Github token (fine-grained) holding access to repository/org>
